body {
  background-color: #313639;
  margin: 0;
}

h1 {
  color: whitesmoke;
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 900;
}

h2 {
  color: whitesmoke;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
}

p {
  color: whitesmoke;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 98%;
  height: 140px;
  padding-left: 1%;
  padding-right: 1%;
  background-image: url(./assets/pitch.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}